.sidebarFriend img {
  width: 40px;
  height: 40px;
}

.sidebarFriend {
  width: 60px;
  height: 60px;
  float: left;
  margin: 5px;
  text-align: center;
}

.friendsImgContainer {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 0 5px crimson;
}
.nameContainer:hover {
  cursor: pointer;
  color: crimson;
}
.nameContainer {
  width: 60px;
  height: 26px;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: black;
}