.dialogs {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: "users messagesContainer";
    gap: 20px;
}

.messagesContainer {
    grid-area: messagesContainer;
    background: white;
    box-shadow: 0 0 10px rgb(99, 96, 96);
    height: 560px;
}

.users {
    padding: 20px;
    grid-area: users;
    background: white;
    box-shadow: 0 0 10px rgb(99, 96, 96);
}

.messages {
    margin: 30px 40px 20px 40px;
    padding: 10px;
    height: 400px;
    box-shadow: 0 0 3px rgb(255, 101, 132);
    overflow: auto;
    background: rgb(240, 240, 240);
    border-radius: 10px;
}

.newMessage {
    margin: 0px 0px 0px 40px;
    background-color: ivory;
    width: 550px;
    text-align: right;
}

/* TEXTAREASTYLES */

.newMessage textarea {
    width: 400px;
    height: 15px;
    border-radius: 20px;
    border: solid 1px crimson;
    box-shadow: 0 0 3px rgb(255, 101, 132);
    outline: none;
    padding: 10px;
    transition: 0.5s;
}

.newMessage textarea:focus {
    border: crimson 2px solid;
    height: 50px;
    transition: 0.5s;
}

.textareaContainer {
    float: right;
}

.buttonContainer {
    float: right;
    width: 100px;
    margin-left: 15px;
}