.dialogs {
    display: grid;
    grid-template-columns: 200px 720px;
    grid-template-areas: 
    "u m";
    grid-gap: 10px;
    background: white;
    box-shadow: 0 0 10px rgb(99, 96, 96);

}
.users {
    grid-area: u;
    border: orangered solid 1px;
    
}
.messages {
    grid-area: m;
    border: orangered solid 1px;
}
.newMessage {
    margin-top: 20px;
}