.profileInfo {
    grid-area: info;
    display: grid;
    grid-template-rows: 350px 100px;
    grid-template-columns: 250px 650px;
    grid-gap: 10px;
    grid-template-areas: "image personalInfo " "image contacts";
    background-color: white;
    box-shadow: 0 0 10px rgb(99, 96, 96);
}

.profileImage {
    margin-top: 30px;
    margin-left: 40px;
    grid-area: image;
    overflow: hidden;
    height: 400px;
}

.profileImage img {
    height: 300px;
    margin-left: -50%;
}

.personalInfo {
    margin-top: 30px;
    grid-area: personalInfo;
    background-color: white;
}

.contacts {
    margin-top: 60px;
    grid-area: contacts;
    display: grid;
    grid-template-rows: 30px 30px 30px 30px;
    grid-template-columns: 90px 40px 400px;
    grid-gap: 10px;
    grid-template-areas: "contactsText logoF linkF" "contactsText logoV linkV" "contactsText logoI linkI" "contactsText logoW linkW";
    background-color: white;
}

.contacts img {
    width: 30px;
}

.contactsText {
    grid-area: contactsText;
    height: 20px;
}

.contactLogoFacebook {
    grid-area: logoF;
}

.contactLogoWeb {
    grid-area: logoW;
}

.contactLogoVk {
    grid-area: logoV;
}

.contactLogoInsta {
    grid-area: logoI;
}

.linkFacebook {
    grid-area: linkF;
}

.linkWeb {
    grid-area: linkW;
}

.linkVk {
    grid-area: linkV;
}

.linkInsta {
    grid-area: linkI;
}

.userName {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 5px 0;
    text-align: center;
}

.aboutMe {
    margin: 10px 0 10px 0;
}

.aboutMeDiv {
    float: left;
    width: 210px;
}

.lookingForAJob {
    margin: 10px 0 10px 0;
}

.lookingForAJobDiv {
    float: left;
    width: 210px;
}

.lookingForAJobDescription {
    margin: 10px 0 10px 0;
}

.lookingForAJobDescriptionDiv {
    float: left;
    width: 210px;
}

.editBtn {
    height: 10px;
    width: 20px;
    display: inline;
    position: relative;
    top: -10px;
    left: 10px
}

.editBtn img {
    height: 20px;
    opacity: 80%;
}

.editBtn img:hover {
    cursor: pointer;
    opacity: 60%;
}

.flwBtnContainer {
    display: inline;
    position: absolute;
    margin-left: 20px;
}

.flwBtnContainer button {
    width: 60px;
    height: 20px;
    background-color: crimson;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    box-shadow: 0 0 3px rgb(255, 101, 132);
    border: 1px solid crimson;
}

.flwBtnContainer button:hover {
    background-color: rgb(65, 64, 64);
    cursor: pointer;
    box-shadow: 0 0 3px rgb(65, 64, 64);
    transition: 0.3s;
    width: 63px;
    height: 22px;
    border: 1px solid rgb(65, 64, 64);
}