.header * {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
}

.headerNavPanel {
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0 0 5px black;
}

.headerContainer {
  height: 60px;
  background-color: white;
  width: 1200px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "headerLinks logo clock login";
  margin: 0 auto;
}

.logo {
  text-align: right;
  grid-area: logo;
  margin-right: 10px;
}

.logo img {
  height: 50px;
  margin-top: 4px;
}

.headerWallpaper {
  height: 250px;
  width: 1920px;
  padding-top: 60px;
  background: url('./../common/header/wallpaper2.jpg') no-repeat;
  background-size: 100% 100% ;
}

/* STYLES FOR HEADER LINKS */

.headerLinks {
  text-align: center;
  padding-top: 16px;
}

.headerLinks a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding-left: 15px;
}

.headerLinks a:hover {
  color: crimson;
  transition: 0.3s;
}