.nav {
    grid-area: n;
    border: orangered 1px solid;
    background-color: rgb(149, 151, 148);
  }
.item {
  color: white;
  margin: 10px;
  border: gold solid 1px;
}
.item a {
  text-decoration: none;
  color: white;
}
.item a.active {
  color: gold;
}
.sidebarFriends {
  border: gold solid 1px;
}