.nav {
  grid-area: n;
  background-color: white;
  box-shadow: 0 0 10px rgb(99, 96, 96); 
}

.item {
  color: black;
  margin: 10px;
  height: 20px;
}

.item a {
  text-decoration: none;
  color: black;
}

.item a.active {
  color: crimson;
}

.sidebarFriends {
  border: gold solid 1px;
}

.item a:hover {
  font-size: 17px;
  transition: 1000;
  color: crimson;
}