.item {
  margin-top: 20px;
  min-height: 70px;
  border-bottom: rgb(248, 165, 165) 1px solid;
}

.iconContainer {
  width: 60px;
  float: left;
}

.post {
  display: inline-block;
}

.postContainer {
  max-width: 700px;
  min-height: 30px;
  padding-left: 30px;
  padding-top: 10px;
}

.postContainer span {
  box-shadow: 0 0 3px rgb(255, 101, 132);
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
}

.avaContainer {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 5px crimson;
}

.avaContainer img {
  width: 40px;
  height: 40px;
}

.likes {
  height: 36px;
}

.likeImg {
  height: 35px;
  width: 35px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.likeImg img {
  height: 18px;
}

.likes img:hover {
  height: 20px;
  transition-duration: 100ms;
  cursor: pointer;
}

.likes img:active {
  height: 22px;
  transition-duration: 100ms;
}

.likesCount {
  color: crimson;
  font-size: 14px;
  width: 20px;
  height: 32px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postUserName {
  text-align: center;
}