.appWrapper {
  margin: -20px auto;
  width: 1200px;
  display: grid;
  grid-template-columns: 245px 935px;
  grid-gap: 20px;
  grid-template-areas: 
  "n c";
}

.appContent {
  grid-area: c;
}

.app {
  background-color: rgb(241, 238, 238);
}