.appWrapper {
  padding-top: 20px;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 245px 935px;
  grid-gap: 20px;
  grid-template-areas: 
  "n c";
}

.appContent {
  grid-area: c;
  background-color: white;
  box-shadow: 0 0 10px rgb(99, 96, 96);
}

.app {
  background-color: rgb(241, 238, 238);
}