.myPosts * {
    margin: 0;
    padding: 0;
}
.myPostContainer {
    margin-top: 20px;
    background: white;
    box-shadow: 0 0 10px rgb(99, 96, 96);
    padding: 20px;
}

.postsContainer {
    background: white;
    margin: 20px auto;
    box-shadow: 0 0 10px rgb(99, 96, 96);
    padding: 20px;
}

.postTextArea {
    margin: 0px 10px;
    float: left;
    width: 425px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postTextArea textarea {
    width: 400px;
    height: 15px;
    border-radius: 20px;
    border: solid 1px crimson;
    box-shadow: 0 0 3px rgb(255, 101, 132);
    outline: none;
    padding: 10px;
}

.postTextArea textarea:focus {
    border: crimson 2px solid;
    height: 80px;
    transition: 0.5s;
}

.postButton {
    display: inline-block;
    height: 40px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postButton button {
    width: 100px;
    height: 35px;
    background-color: crimson;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 0 0 3px rgb(255, 101, 132);
}

.postButton button:hover {
    background-color: rgb(65, 64, 64);
    cursor: pointer;
    box-shadow: 0 0 3px rgb(65, 64, 64);
    transition: 0.3s;
    width: 103px;
    height: 37px;
}

.postContainer {
    width: 650px;
    margin: 0 auto;
}

.avaContainer {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 5px crimson;
}

.avaContainer img {
    width: 50px;
    height: 50px;
}